.ce-delimiter {
  line-height: 1.6em;
  width: 96%;
  height: 120px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
}

.delimiter-wing {
  width: 100px;
  height: 1px;
  background: lightgrey;
}

.center-icon {
  margin-left: 20px;
  margin-right: 20px;
}

.center-icon svg {
  width: 24px;
  height: 24px;
  fill: lightgrey;
}

.cdx-settings-button svg {
  width: 18px;
  height: 18px;
}

.cdx-delimiter-settings {
  display: flex;
  max-width: 120px;
  flex-wrap: wrap;
}
