.ce-delimiter {
    line-height: 1.6em;
    width: 100%;
    text-align: center;
}

.ce-delimiter:before {
    display: inline-block;
    content: " " !important;
    font-size: 15px;
    width: 150px;
    border-bottom: 1px solid;
    border-bottom-color: lightgrey;
    margin-top: 50px;
    margin-bottom: 50px;
}